# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/

# Data files
*.csv
*.parquet
*.json
#data/raw/*
data/processed/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# env & secrets
.venv/
venv/
env/
.env

# db/data dirs
pgdata/

# python junk
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.coverage
.mypy_cache/
.pytest_cache/





